# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.sh
*miniobjloader.h*


reps/
main
*.exe
*.stash
Makefile
c_vector_main
c_hashtable_main
deprecated/main
*.pro
*.user
c_vector_test.h
c_hashtable_test.h
c_vector_test.c
c_hashtable_test.c
c_vector_test
c_hashtable_test
c_vector_type_unsafe_main
c_hashtable_type_unsafe_main


