# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.bin

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.sh
*miniobjloader.h*


reps/
examples/reps/
examples/wasm/
main
*.exe
*.stash
Makefile
examples/c_vector_main
examples/c_hashtable_main
examples/deprecated/main
*.pro
*.user
*.user.*
examples/c_vector_test.h
examples/c_hashtable_test.h
examples/c_vector_test.c
examples/c_hashtable_test.c
examples/c_vector_test
examples/c_hashtable_test
examples/c_vector_type_unsafe_main
examples/c_hashtable_type_unsafe_main


